<!-- Modal Structure -->
<div id="covermodal" class="modal modal-fixed-footer" style="overflow:hidden; width:400px; height:400px;">
  <div class="modal-content" style="overflow:hidden;">
    <h4>Change Your Cover Photo</h4>
      <div class="row">
        <form id="uploadCoverPic" name="coverPicForm" method="post" enctype="multipart/form-data" novalidate>
          <div class="file-field input-field">
            <div class="btn light-blue darken-1 profile-upload-btn">
              <span><i class="material-icons left profile-upload-btn-icon">panorama</i></span>
              <input type="file" name="fileToUploadC" id="fileToUploadC">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload Picture" ng-model="user.coverpic" required>
            </div>
          </div>
        </form>
      </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-circle waves-light btn red accent-4" style="width: 30px; border-radius: 50%; padding-left: 8px; margin-right: 30px;"><i class="material-icons left">close</i></a>
<button type="submit" ng-click="updateCPic(user)" ng-disabled="coverPicForm.$invalid" class="modal-action waves-effect waves-circle waves-light btn teal accent-3" style="width: 30px; border-radius: 50%; padding-left: 8px; margin-right: 30px;"><i class="material-icons left">done</i></button>
  </div>
</div>
</div>
<!-- modal structure -->