<!-- Modal Structure -->
<div id="profilemodalp" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Edit Your Profile</h4>
      <div class="row">
        <form action="data/pchanged.php" method="POST" class="col s12" name="profileForm" novalidate>
          <div class="row">
            <div class="col s6">
              <h4>Name</h4>
              </div>
            </div>  
            <div class="row">
              <div class="input-field col s6">
                <i class="active material-icons prefix">portrait</i>
                <input placeholder="first name" type="text" name="first_name" length="20" class="validate" ng-model="user.first_name" ng-minlength="1" ng-maxlength="20" required />
                <label class="active" id="finput" for="first_name" data-error="needs to be less than 20 characters">First Name</label>
                <p class="required-field" ng-show="profileForm.first_name.$error.required">required</p>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_box</i>
                <input placeholder="last name" type="text" name="last_name" length="20" class="validate" ng-model="user.last_name" ng-maxlength="20" required />
                <label for="last_name" data-error="needs to be less than 20 characters">Last Name</label>
                <p class="required-field" ng-show="profileForm.last_name.$error.required">required</p>
              </div>
               </div>
              <div class="row">
                <div class="col s6">
                  <h4>Gender</h4>
                </div>
                <div class="col s6">
                  <h4>Birthdate</h4>
                </div>
              </div>
              <div class="row">
                <div class="col s3">
                  <p>
                    <input name="gender" class="with-gap" type="radio" id="genderf" value="Female" ng-model="user.gender" />
                    <label for="genderf">Female</label>
                  </p>
                </div>
                <div class="col s3">
                  <p>
                    <input name="gender" class="with-gap" type="radio" id="genderm" value="Male" ng-model="user.gender"/>
                    <label for="genderm">Male</label>
                  </p>
                </div>
              <div class="col s2">
                <label>Day</label>
                <select name="birthday" class="browser-default" ng-model="user.birthday" ng-options="day for day in days track by day" required></select>
              </div>
              <div class="col s2">
                <label>Month</label>
                <select name="birthmonth" class="browser-default" ng-model="user.birthmonth" ng-options="month for month in months track by month" required></select>
              </div>
              <div class="col s2">
                <label>Year</label>
                <select name="birthyear" class="browser-default" ng-model="user.birthyear" ng-options="year for year in years track by year" required></select>
              </div>
            </div>
          <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">place</i>
                <input placeholder="city" type="text" name="city" class="validate" length="20" ng-model="user.city" ng-maxlength="20" required />
                <label for="city" data-error="needs to be less than 20 characters">City</label>
                <p class="required-field" ng-show="profileForm.city.$error.required">required</p>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">terrain</i>
                <input placeholder="state" type="text" name="state" class="validate" length="2" ng-model="user.state" ng-maxlength="2" required />
                <label for="state" data-error="state should be 2 letters">State</label>
                <p class="required-field" ng-show="profileForm.state.$error.required">required</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <h4>Tell Us About Yourself</h4>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">sentiment_very_satisfied</i>
                <textarea placeholder="about me" id="aboutme" name="aboutme" class="materialize-textarea" length="100" ng-model="user.aboutme" ng-maxlength="100" required></textarea>
                <label for="aboutme" data-error="needs to be less than 100 characters">A Sentence About Yourself</label>
                <p class="required-field" ng-show="profileForm.aboutme.$error.required">required</p>
              </div>
            </div>
    </div>
  </div>
  <div class="modal-footer">
    <div ng-click="reset()" class="modal-action modal-close waves-effect waves-circle waves-light btn red accent-4" style="width: 30px; border-radius: 50%; padding-left: 8px; margin-right: 20px;"><i class="material-icons left">close</i></div>
    <button type="submit" name="submit" ng-disabled="profileForm.$invalid" class="modal-action waves-effect waves-circle waves-light btn teal accent-3" style="width: 30px; border-radius: 50%; padding-left: 8px; margin-right: 30px;"><i class="material-icons left">done</i></button>
      </form>
  </div>
</div>
              
